@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.input-ui {
  @apply w-full border rounded-lg px-4 py-3 outline-none focus:ring-2 focus:ring-red-500;
}
.btn-primary {
  @apply bg-red-600 text-white px-8 py-3 rounded-lg transition duration-300 cursor-pointer;
}

.btn-primary:hover {
  @apply bg-red-700 shadow-lg;
}

.btn-outline {
  @apply border px-6 py-3 rounded-lg transition duration-300 cursor-pointer;
}

.btn-outline:hover {
  @apply bg-red-500 shadow-lg text-white;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}